In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import hurdat2parser as hd2

In [5]:
data_df = pd.read_csv('../data/HURDAT_CSV/hurdat2-1851-2021-041922.csv')
data_df.tail()

,atcf_code,storm_name,year,month,day,hour,minute,record_id,system_status,latitude,...,delta_distance_y,x,y,day_of_year,minute_of_day,jday,vpre,vpre_inverse_scaled,landfall,time_idx
15952,AL212021,WANDA,2021,11,7,0,0,NaN,TS,37.4,...,33.462881,-0.281588,-0.086831,311,0,58,35105.0,33.819846,0,48
15953,AL212021,WANDA,2021,11,7,6,0,NaN,TS,38.1,...,78.161630,0.104722,0.375922,311,360,58,35140.0,33.820982,0,49
15954,AL212021,WANDA,2021,11,7,12,0,NaN,LO,39.2,...,123.164880,-0.939624,0.335005,311,720,58,35210.0,33.823247,0,50
15955,AL212021,WANDA,2021,11,7,18,0,NaN,LO,40.9,...,190.835273,-0.011001,0.058231,311,1080,58,40240.0,38.470363,0,51
15956,AL212021,WANDA,2021,11,8,0,0,NaN,LO,43.2,...,260.003855,0.101945,-0.697500,312,0,59,40240.0,38.470363,0,52